{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %}Blockbuster{%endblock%}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}" />
  </head>
  <body>
    <div class="contenedor">
      <header>
        <div class="logo">blockbuster</div>
        <div class="cuenta">
          <span>{{ request.user.first_name }}</span>
          <a href="{% url 'app:form_iniciar_sesion' %}">
            <i class="fa-solid fa-user"></i>
          </a>
        </div>
      </header>
      <nav>
        <ul>
          <li>
            <a href="{% url 'app:index' %}"
              ><i class="fa-solid fa-home"></i> Inicio</a
            >
          </li>
          <li>
            <a href="{% url 'app:categorias' %}"
              ><i class="fa-solid fa-tags"></i> Categorías</a
            >
          </li>
          <li>
            <a href="{% url 'app:peliculas' %}"
              ><i class="fa-solid fa-clapperboard"></i> Películas</a
            >
          </li>
          <li>
            <a href="{% url 'app:cerrar_sesion' %}"
              ><i class="fa-solid fa-person-walking-arrow-right"></i> Salir</a
            >
          </li>
        </ul>
      </nav>
      <div class="contenido">{% block contenido %} {% endblock %}</div>
    </div>
  </body>
</html>
