{% extends 'app/base.html' %} {% block contenido %}

<h1 class="encabezado">
  <span>Categorias</span>
  {% if request.user.is_authenticated %}
  <a class="button" href="{% url 'app:form_crear_categoria' %}"
    >Crear categoría</a
  >
  {% endif %}
</h1>

<ul id="lista-categorias">
  {% for categoria in categorias %}
  <li>
    <a href="{% url 'app:categoria' categoria.id %}">{{categoria.nombre}}</a>
  </li>
  {% endfor %}
</ul>

{% endblock %} {% block titulo %} Categorias {% endblock %}
