{% extends 'app/base.html' %} {% block contenido %}
<h1>Crear Categoría</h1>
<hr />

<form action="{% url 'app:crear_categoria_post' %}" method="POST">
  {% csrf_token %}
  <fieldset>
    <label for="textNombre">Nombre</label>
    <input type="text" name="nombre" />
  </fieldset>
  <fieldset>
    <button>Crear</button>
  </fieldset>
</form>

{% endblock %}
