{% extends 'app/base.html' %} {% block contenido %}
<h1>Crear Pelicula</h1>
<hr />

<form action="{% url 'app:crear_pelicula_post' %}" method="POST">
  {% csrf_token %}
  <fieldset>
    <label for="textTitulo">Titulo</label>
    <input type="text" name="titulo" />
  </fieldset>
  <fieldset>
    <label for="selectCategoria">Categoría</label>
    <select name="categoria">
      {% for categoria in categorias %}
      <option value="{{categoria.id}}">{{categoria.nombre}}</option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset>
    <button>Crear</button>
  </fieldset>
</form>

{% endblock %}
