{% extends 'app/base.html' %} {% load static %} {% block contenido %}
<h1>Bienvenidos a Blockbuster</h1>
<div class="intro">
  <img
    id="banner"
    src="{% static 'app/img/last-blockbuster.webp' %}"
    alt="last"
  />
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. In error quod
    ratione eveniet modi praesentium magnam perferendis. Officia velit, veniam
    eum nihil, impedit sint provident eveniet incidunt molestias temporibus
    deserunt.
  </p>
</div>
<hr />
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, facilis?
</p>
{% endblock %}
