{% extends 'app/base.html' %} {% load static %} {% block contenido %}
<h1>Ingresar a Blockbuster</h1>

<div class="login">

<form action="{% url 'app:iniciar_sesion' %}" method="POST">
  {% csrf_token %}
  <fieldset>
    <label for="username">Usuario</label>
    <input type="text" name="username">
  </fieldset>
  <fieldset>
    <label for="password">Contraseña</label>
    <input type="password" name="password">
  <fieldset>
  <fieldset>
    <button>Ingresar</button>
  </fieldset>
</form>

</div>


{% endblock %}
