{% extends 'app/base.html' %} {% block contenido %}
<h1 class="encabezado">
  <span>Películas</span
  ><a class="button" href="{% url 'app:form_crear_pelicula' %}"
    >Crear película</a
  >
</h1>
{% endblock %}
